@font-face {
    font-family: "CormorantSC-Medium";
    src: url("../fonts/Cormorant/CormorantSC-Medium.ttf")

    }

@font-face {
    font-family: "Inter-Bold";
    src: url("./fonts/Inter/Inter-Bold.otf")
    }

@font-face {
    font-family: "Inter-Light";
    src: url("./fonts/Inter/Inter-Light.otf")
    }

@font-face {
    font-family: "Inter-Medium";
    src: url("./fonts/Inter/Inter-Medium.otf")
    }