@font-face {
  font-family: "CormorantSC-Medium";
  src: url("../fonts/Cormorant/CormorantSC-Medium.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./fonts/Inter/Inter-Bold.otf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("./fonts/Inter/Inter-Light.otf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("./fonts/Inter/Inter-Medium.otf");
}
:root {
  --primary-white: #FFFFFF;
  --primary-black: #121212;
  --primary-light-gray: #DEDEDE;
  --primary-dark-gray: #575757;
  --secondary-white: #FCFCFC;
  --secondary-black: #1A1818;
  --secondary-gray: #9C9C9C;
  --accent-red: #9B4B4B;
  --accent-gold: #AB8956;
}

[data-theme=dark] {
  --primary-white: #121212;
  --primary-black: #FFFFFF;
  --primary-light-gray: #575757;
  --primary-dark-gray: #DEDEDE;
  --secondary-white: #1A1818;
  --secondary-black: #FCFCFC;
  --secondary-gray: #9C9C9C;
  --accent-red: #AB8956;
  --accent-gold: #9B4B4B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white);
}

h1 {
  font-weight: 500;
  font-family: "CormorantSC-Medium";
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary-black);
}

p {
  font-family: "Inter-Light";
}

.years {
  font-family: "Inter-Bold";
  color: var(--accent-red);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 44px;
  padding: 0 100px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__bar {
  justify-content: flex-end;
  display: flex;
  gap: 20px;
  width: 92.7%;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
  height: 36px;
}
.search__button {
  left: 7px;
  position: absolute;
  border: 0;
  background: none;
}
.search__input {
  padding-left: 34px;
  color: var(--primary-dark-gray);
  width: 336px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  height: 36px;
  background-color: var(--primary-white);
}
.search__input::-moz-placeholder {
  color: var(--secondary-gray);
}
.search__input::placeholder {
  color: var(--secondary-gray);
}
.search__input:focus {
  border: 1px solid var(--primary-dark-gray);
  outline: none;
}

.dark-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--secondary-white);
}

.block-painting {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.painting__list {
  justify-content: center;
  gap: 2%;
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  flex-wrap: wrap;
}
.painting {
  position: relative;
  margin-bottom: 32px;
  width: 392px;
  height: 260px;
}
.painting__image {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: block;
}
.painting__info {
  justify-content: space-between;
  width: 85%;
  height: 25%;
  background-color: var(--primary-white);
  position: absolute;
  bottom: 0px;
  display: flex;
  overflow: hidden;
}
.painting__txt {
  overflow: hidden;
  line-height: 1.5;
  padding-left: 18px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid var(--accent-red);
}
.painting:hover .painting__image {
  transform: scale(1.1);
}

.dop-arrow {
  visibility: hidden;
  width: 24px;
  background-color: var(--accent-red);
}

.first-info {
  transition: transform 0.5s ease;
  transform: translateY(0);
}
.first-info--hidden {
  transform: translateY(100%);
}
.first-info--visible {
  transform: translateY(0);
}

.second-info {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%) translateX(-150%);
  transition: transform 0.5s ease;
  width: calc(100% - 18px);
}
.second-info--visible {
  transform: translateY(-50%) translateX(0);
}
.second-info--hidden {
  transform: translateY(-50%) translateX(-150%);
}

.pag-block {
  justify-content: center;
  display: flex;
  gap: 6%;
  width: 100%;
}

.pagination {
  margin: 0 auto;
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pagination__block {
  justify-content: center;
  width: 100%;
  display: flex;
}
.pagination__button {
  font-family: "Inter-Light";
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 20px;
  background: none;
  font-size: 16px;
  color: var(--primary-dark-gray);
}
.pagination__button:hover:not(:disabled) {
  border-bottom: 1px solid var(--secondary-gray);
}
.pagination__button--active {
  background-color: var(--primary-light-gray);
  font-weight: 500;
  font-family: "Inter-Medium";
}

.notRes {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto 0 auto;
}
.notRes__search {
  font-family: "Inter-Medium";
}
.notRes__add {
  color: var(--secondary-gray);
}

.filter {
  width: 36px;
  height: 36px;
  background-color: var(--secondary-white);
  border-radius: 4px;
}
.filter__button {
  cursor: pointer;
  border: 0;
  background-color: unset;
}

.rightbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 492px;
  height: 100vh;
  background: var(--secondary-white);
  z-index: 1;
  overflow-y: auto;
  animation: slideIn 0.3s ease;
}
.rightbar__header {
  height: 10vh;
  display: flex;
  justify-content: end;
  padding: 60px 100px 0 0;
  margin-bottom: 100px;
}
.rightbar__close {
  border: none;
  background: none;
  cursor: pointer;
}
.rightbar__close img {
  width: 20px;
  height: 20px;
}
.rightbar__sections {
  height: 15vh;
}
.rightbar__section {
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0 133px 0 40px;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 35px;
  background-color: var(--secondary-white);
  position: relative;
  z-index: 2;
}
.rightbar__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightbar__toggle {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightbar__toggle img {
  width: 20px;
  height: 20px;
}
.rightbar__content {
  animation: fadeIn 0.3s ease;
}
.rightbar__content.years-content {
  display: flex;
  gap: 10px;
}
.rightbar__input_select {
  background-color: var(--primary-white);
  color: var(--secondary-gray);
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--primary-light-gray);
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.rightbar__input_select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}
.rightbar__input {
  background-color: var(--primary-white);
  text-align: center;
  color: var(--secondary-gray);
  width: 18%;
  padding: 10px 12px;
  border: 1px solid var(--primary-light-gray);
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.rightbar__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}
.rightbar__footer {
  padding: 0px 133px 10vh 40px;
  align-items: end;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  height: 60vh;
}
.rightbar__submit {
  text-decoration: underline;
  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--primary-dark-gray);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.rightbar__clear {
  text-decoration: underline;
  border: none;
  text-transform: uppercase;
  background: none;
  color: var(--secondary-gray);
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.filter-select {
  position: relative;
}
.filter-select__toggle {
  top: 9px;
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
}
.filter-select__dropdown {
  margin-top: 13px;
  height: 264px;
  overflow: auto;
  background-color: var(--secondary-white);
}
.filter-select__dropdown::-webkit-scrollbar-button:vertical {
  display: none;
}
.filter-select__option {
  font-size: 14px;
  color: var(--primary-dark-gray);
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.filter-select__option:hover {
  background-color: rgba(18, 18, 18, 0.05);
}

.theme-toggle {
  border: 0;
  background: none;
}

.change {
  filter: var(--icon-filter);
}

:root {
  --icon-filter: brightness(0) invert(0);
}

[data-theme=dark] {
  --icon-filter: brightness(0) invert(1);
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 50px;
  }
  .dop-arrow {
    visibility: visible;
  }
  .painting {
    width: 352px;
    height: 220px;
  }
  .painting__list {
    width: 95%;
  }
  .painting__info {
    width: 90%;
  }
  .painting__txt {
    line-height: normal;
    border-left: none;
  }
  .search__input {
    width: 300px;
  }
  .rightbar {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .rightbar {
    width: 372px;
  }
  .pagination {
    width: 40%;
  }
}
@media screen and (max-width: 425px) {
  .notRes {
    width: 70%;
  }
  header {
    padding: 0 25px;
  }
  h1 {
    font-size: 12px;
  }
  .years {
    font-size: 8px;
  }
  .painting {
    width: 280px;
    height: 185px;
  }
  .painting__list {
    width: 98%;
  }
  .search__input {
    width: 225px;
  }
  .search__bar {
    justify-content: center;
    width: 100%;
  }
  .pagination {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */