@import "./fonts.scss";
@import "./constants/constants.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 500;
    font-family: 'CormorantSC-Medium';
    font-size: 16px;
    text-transform: uppercase;
}

p {
    font-family: 'Inter-Light';


}

.years {
    font-family: 'Inter-Bold';
    color: $accent-red;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



header {
    margin-bottom: 44px;
    padding: 0 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search {

    &__bar {
        justify-content: flex-end;
        display: flex;
        gap: 20px;
        width: 92.7%;
    }



    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    height: 36px;

    &__button {
        left: 7px;
        position: absolute;
        border: 0;
        background-color: white;
    }

    &__input {
        padding-left: 34px;
        color: $primary-dark-gray;
        width: 336px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        height: 36px;
    }

    &__input::placeholder {
        color: $secondary-gray;
    }

    &__input:focus {
        border: 1px solid $primary-dark-gray;
        outline: none;
    }
}

.dark-icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: $secondary-white;
}





.block-painting {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.painting {

    &__list {
        justify-content: center;
        gap: 2%;
        width: 90%;
        display: flex;
        margin: 20px auto 0 auto;
        flex-wrap: wrap;
    }

    position: relative;
    margin-bottom: 32px;
    width: 392px;
    height: 260px;

    &__image {
        width: 100%;
        height: 100%;
        transition: 0.5s;
        display: block;


    }

    &__info {
        width: 300px;
        height: 82px;
        background-color: $primary-white;
        position: absolute;
        bottom: 0px;
        display: flex;
        overflow: hidden;
    }

    &__txt {
        overflow: hidden;
        line-height: 1.7;
        padding-left: 18px;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 2px solid #9B4B4B;
    }

    &:hover &__image {
        transform: scale(1.1);
    }
}

.first-info {
    transition: transform 0.5s ease;
    transform: translateY(0);

    &--hidden {
        transform: translateY(100%);
    }

    &--visible {
        transform: translateY(0);
    }
}

.second-info {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%) translateX(-150%);
    transition: transform 0.5s ease;
    width: calc(100% - 18px);

    &--visible {
        transform: translateY(-50%) translateX(0);
    }

    &--hidden {
        transform: translateY(-50%) translateX(-150%);
    }
}






.pag-block {
    margin: 0 7px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    &__button {
        font-family: 'Inter-Light';
        border-radius: 4px;
        cursor: pointer;
        border: 0;
        width: 20px;
        height: 20px;
        background-color: white;
        font-size: 16px;
        color: $primary-dark-gray;

        &:hover:not(:disabled) {
            border-bottom: 1px solid $secondary-gray;


        }

        &--active {
            background-color: $primary-light-gray;
            font-weight: medium;
            font-family: 'Inter-Medium';
        }

    }



}


.notRes {
    display: flex;
    flex-direction: column;


    &__search {
        font-family: 'Inter-Medium';
    }

    &__add {

        color: $secondary-gray;
    }
}

.filter {

    width: 36px;
    height: 36px;
    background-color: $secondary-white;
    border-radius: 4px;

    &__button {
        cursor: pointer;
        border: 0;
        background-color: unset;
    }

}


.rightbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 492px;
    height: 100vh;
    background: $secondary-white;
    z-index: 1;
    overflow-y: auto;
    animation: slideIn 0.3s ease;

    &__header {
        height: 10vh;
        display: flex;
        justify-content: end;
        padding: 60px 100px 0 0;
        margin-bottom: 100px;
    }

    &__close {
        border: none;
        background: none;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__sections {
        height: 15vh;
    }


    &__section {
        display: flex;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 0 133px 0 40px;
        flex-direction: column;
        gap: 28px;
        margin-bottom: 35px;
        background-color: $secondary-white;
        position: relative;
        z-index: 2;
    }

    &__section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    &__toggle {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__content {
        animation: fadeIn 0.3s ease;

        &.years-content {
            display: flex;
            gap: 10px;
        }
    }


    &__input_select {
        color: $secondary-gray;
        width: 100%;
        padding: 10px 12px;
        border: 1px solid $primary-light-gray;
        border-radius: 4px;
        font-size: 14px;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
        }

    }



    &__input {
        text-align: center;
        color: $secondary-gray;
        width: 18%;
        padding: 10px 12px;
        border: 1px solid $primary-light-gray;
        border-radius: 4px;
        font-size: 14px;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
        }

    }

    &__footer {
        padding: 0px 133px 10vh 40px;
        align-items: end;
        justify-content: space-between;
        display: flex;
        gap: 12px;
        height: 60vh;
    }

    &__submit {
        text-decoration: underline;
        text-transform: uppercase;
        background: none;
        border: none;
        color: $primary-dark-gray;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;

    }

    &__clear {
        text-decoration: underline;
        border: none;
        text-transform: uppercase;
        background: none;
        color: $secondary-gray;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.filter-select {

    position: relative;


    &__toggle {
        top: 9px;
        position: absolute;
        right: 8px;
        background: none;
        border: none;
        padding: 0;
        width: 20px;
        height: 20px;

    }

    &__dropdown {
        margin-top: 13px;
        height: 264px;
        overflow: auto;
        background-color: $secondary-white;

        &::-webkit-scrollbar-button:vertical {
  display: none;
}
    }

    &__option {
        font-size: 14px;
        color: $primary-dark-gray;
        height: 36px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 17px;
        
        &:hover {
            background-color: rgba(18, 18, 18, 0.05);
        }
    }

    &_txt {}
}